* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.3s;
}

.container {
  h1 {
    cursor: pointer;
    font-family: "Caveat", cursive;
    

    span:hover {
      color: rgb(184, 9, 131) !important;
    }
  }
  a:hover{
      color: rgb(184, 9, 131) !important;
  }

  .navbar-brand:hover {
    color: black !important;
  }
}

.navbar{
  .container{
     a:hover{
      color: rgb(184, 9, 131) !important;
  }

  }
}

.collapse {
  li {
    a {
      font-weight: bolder;
      font-size: 18px;
      margin: 0px 10px;
      color: white;
      &:hover {
        color: rgb(184, 9, 131) ;      }
    }
  }
}

.dropdown-menu {
  a {
    color: black !important;
    margin: 0px !important;
    &:hover {
      border-radius: 10px;
    }
  }
  
}




.icons {
  i {
    color: white;
    cursor: pointer;
    &:hover{
      color: rgb(184, 9, 131) !important;
    }
  }
}
// header and navbar end

.welcomesection-col {
  h1 {
    background: -webkit-linear-gradient(#eeeeee, #c54887);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: "Caveat", cursive;
  }
  h2 {
    background: -webkit-linear-gradient(#eeeeee, #c54887);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: "Caveat", cursive;
  }
}
.welcomesection-row {
  position: absolute;
  top: 20%;
}

.rightcol_shoe {
  top: 10%;
  right: 10%;
  width: 500px;
}

@media only screen and (max-width: 768px) {
  .rightcol_shoe {
    width: 40%;
    height: 40%;
    top: 10%;
    right: 5%;
  }
  .welcomesection-col {
    h1,
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 10px;
    }
  }
}

.welcomesection-content {
  .socialmed_icons {
    color: black;
    position: absolute;
    top: 30% !important;
    & i:hover {
      cursor: pointer;
      color: rgb(212, 0, 255);
    }
  }
}

.welcomesection-col_button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(181, 43, 197, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  &:hover i {
    transform: translateX(5px);
    color: black;
  }
}

// produdct section

.addcart_button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(181, 43, 197, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.product_section {
  h1 {
    background: -webkit-linear-gradient(#575555, #fc0681);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  .row {
    .card:hover {
      transform: scale(100%);
      box-shadow: 5px 5px 10px black;
      .pop-up {
        opacity: 1 !important;
        transform: translateX(30px);
      }
    }
    i:hover {
      color: rgb(192, 19, 114);
      cursor: pointer;
    }
  }
}

// about section

.about_section {
  .container-fluid {
    h2 {
      background: -webkit-linear-gradient(#575555, #fc0681);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.row {
  .about_text {
    text-align: justify;
  }

  .col-2 {
    img {
      background-color: #ff3cac;
      background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
      );
      opacity: 0.8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

.image_container {
  border: 3px solid rgb(173, 34, 166);
  &:hover {
    box-shadow: 0px 0px 10px purple;
  }

  img {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
  }
}

.text-container {
  border: 3px solid rgb(173, 34, 166);
  &:hover{
    box-shadow: 0px 0px 10px purple;

  }
}

.text-center{
  button{
    border: 1px solid rgb(173, 34, 166);
    
  }
  button:hover{
    color: white;
    background-color: #784ba0;
    box-shadow: 0px 0px 10px rgb(173, 34, 166);
  }
}

// testimonials

.col-md-4{
  img{
    border-radius: 50%;
    margin-top: 10px;
    width: 72px;
    height: 72px;
    box-shadow: 0px 0px 5px black;
  }
}